<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>787056522440-po3e4qhi7fhdn5j0mm8mp60a9qccdpfi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.787056522440-po3e4qhi7fhdn5j0mm8mp60a9qccdpfi</string>
	<key>API_KEY</key>
	<string>AIzaSyBl7DXJT1Au4iCksyU_cY1d7siKe8JE3Fg</string>
	<key>GCM_SENDER_ID</key>
	<string>787056522440</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.evancooper.FriendlyCompetitions.debug</string>
	<key>PROJECT_ID</key>
	<string>compyboi-79ae0</string>
	<key>STORAGE_BUCKET</key>
	<string>compyboi-79ae0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:787056522440:ios:7f8c86b5fa545ff7c121fd</string>
	<key>DATABASE_URL</key>
	<string>https://compyboi-79ae0-default-rtdb.firebaseio.com</string>
</dict>
</plist>
